@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JSRuntime.InvokeVoidAsync("eval", @"
                var script = document.createElement('script');
                script.src = 'js/ideInterop.js';
                document.body.appendChild(script);
            ");
            JSRuntime.InvokeVoidAsync("eval", @"
                var script = document.createElement('script');
                script.src = 'js/monaco.js';
                document.body.appendChild(script);
            ");
        }
    }
}
